@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 20px;
	font-family: futureText;
	color: white;
  font-weight: 300;
  text-align: center;
  background-color: #000000;
}


h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  color: #fff;
}

.btn{
  background-color:rgba(0, 0, 0, 0.25);
  color: white;
}

span{
  color:white;
}

.question{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 2%;
}

.highscore {
margin-bottom: 15%;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  color: white;
  transition: opacity 0.5s;
}

.answers label{
  display: block;
  margin-bottom: 10px;
  color: white;
  transition: 0.25s;
}

.answers label:hover{
  display: block;
  text-indent: 10px;
  margin-bottom: 10px;
  color: pink;
}

button{
  background-color:rgba(0, 0, 0, 0.5);
  font-family: pixelFontText;
	font-size: 22px;
	background-color: purple;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
  background-color: white;
  color: purple;
}

.slide{
  position: absolute;
  left: 0px;
  top: -40%;
  width: 100%;
  height: 160%;
  margin-bottom: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 100px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
}

.label{
  color:white;
  transition: 0.25s;
}

.label:hover{
font-size:1px;
color: pink;
}

.name-goes-here{
color: pink !important;
}


.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media only screen and (max-width: 550px){

.quiz-container{
  position: sticky;
  height: 500fr;
  margin-top: 100px;
}

#previous{
position: sticky;
margin-top: 100%;
}

#next{
position: sticky;
margin-top: 150px;
}

#footer{
  visibility: hidden;
}

}

@media only screen and (max-width: 325px){

  .quiz-container{
    position: sticky;
    height: 500fr;
    margin-top: 100px;
  }
  
  #previous{
  position: sticky;
  margin-top: 800px;
  }
  
  #next{
  position: sticky;
  margin-top: 400px;
  }
  
  #footer{
    visibility: hidden;
  }

}
  
